In [2]:
import pandas as pd

In [10]:
pd.read_csv ('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [11]:
chipo = pd.read_csv ('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

In [12]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [13]:
chipo['item_price']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [25]:
test = '$11.00'

In [26]:
type(test[1:])

str

In [27]:
test[1:]

'11.00'

In [28]:
float(test[1:])

11.0

In [29]:
type(test)

str

In [30]:
if float(test[1:])>10:
    print('Greater than 10')
else:
    print('Lesser than 10')

Greater than 10

In [31]:
chipo['item_price']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [34]:
chipo["item_price_float"]  = chipo ["item_price"].apply(lambda x : float(x[1:]))

In [35]:
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [36]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   item_price_float    4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

In [40]:
get_rows= chipo.head(10)
print(get_rows)

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price  \
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

   item_price_float
0              2.39
1              3.39
2              3.39
3              2.39
4             16.98
5             10.98
6              1.69
7             11.75
8              9.25
9              9.25

In [43]:
getrows = chipo.head(15)
print(getrows)

    order_id  quantity                              item_name  \
0          1         1           Chips and Fresh Tomato Salsa
1          1         1                                   Izze
2          1         1                       Nantucket Nectar
3          1         1  Chips and Tomatillo-Green Chili Salsa
4          2         2                           Chicken Bowl
5          3         1                           Chicken Bowl
6          3         1                          Side of Chips
7          4         1                          Steak Burrito
8          4         1                       Steak Soft Tacos
9          5         1                          Steak Burrito
10         5         1                    Chips and Guacamole
11         6         1                   Chicken Crispy Tacos
12         6         1                     Chicken Soft Tacos
13         7         1                           Chicken Bowl
14         7         1                    Chips and Guacamole

                                   choice_description item_price  \
0                                                 NaN     $2.39
1                                        [Clementine]     $3.39
2                                             [Apple]     $3.39
3                                                 NaN     $2.39
4   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                 NaN     $1.69
7   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8   [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9   [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                NaN     $4.45
11  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
14                                                NaN     $4.45

    item_price_float
0               2.39
1               3.39
2               3.39
3               2.39
4              16.98
5              10.98
6               1.69
7              11.75
8               9.25
9               9.25
10              4.45
11              8.75
12              8.75
13             11.25
14              4.45

In [54]:
no_columns = len(chipo.columns)
print(no_columns)
print(chipo.columns)

6
Index(['order_id', 'quantity', 'item_name', 'choice_description', 'item_price',
       'item_price_float'],
      dtype='object')

In [48]:
chipo.describe(include='all')

,order_id,quantity,item_name,choice_description,item_price,item_price_float
count,4622.000000,4622.000000,4622,3376,4622,4622.000000
unique,NaN,NaN,50,1043,78,NaN
top,NaN,NaN,Chicken Bowl,[Diet Coke],$8.75,NaN
freq,NaN,NaN,726,134,730,NaN
mean,927.254868,1.075725,NaN,NaN,NaN,7.464336
std,528.890796,0.410186,NaN,NaN,NaN,4.245557
min,1.000000,1.000000,NaN,NaN,NaN,1.090000
25%,477.250000,1.000000,NaN,NaN,NaN,3.390000
50%,926.000000,1.000000,NaN,NaN,NaN,8.750000
75%,1393.000000,1.000000,NaN,NaN,NaN,9.250000
max,1834.000000,15.000000,NaN,NaN,NaN,44.250000

In [53]:
column_names= print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description', 'item_price',
       'item_price_float'],
      dtype='object')

In [55]:
chipo.shape

(4622, 6)

In [56]:
chipo.loc[0]

order_id                                         1
quantity                                         1
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                  $2.39
item_price_float                              2.39
Name: 0, dtype: object

In [60]:
chipo.loc[10:20]

,order_id,quantity,item_name,choice_description,item_price,item_price_float
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
14,7,1,Chips and Guacamole,NaN,$4.45,4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49,8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49,8.49
18,9,2,Canned Soda,[Sprite],$2.18,2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75,8.75
20,10,1,Chips and Guacamole,NaN,$4.45,4.45

In [64]:
chipo.mode()

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,926,1,Chicken Bowl,[Diet Coke],$8.75,8.75

In [62]:
chipo.value_counts()

order_id  quantity  item_name           choice_description                                                                                                                                                   item_price  item_price_float
926       1         Chicken Bowl        [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Lettuce]]                                                                                   $8.75       8.75                3
724       1         Canned Soft Drink   [Coke]                                                                                                                                                               $1.25       1.25                3
1011      1         Canned Soft Drink   [Coke]                                                                                                                                                               $1.25       1.25                3
838       1         Chicken Soft Tacos  [Fresh Tomato Salsa, [Cheese, Sour Cream, Lettuce]]                                                                                                                  $8.75       8.75                2
1125      1         Chicken Burrito     [Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]                                                                                                                        $8.75       8.75                2
                                                                                                                                                                                                                                            ..
623       1         Chicken Bowl        [Fresh Tomato Salsa (Mild), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]                                                                        $8.49       8.49                1
                                        [[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]  $8.49       8.49                1
624       1         Barbacoa Burrito    [[Fresh Tomato Salsa (Mild), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Sour Cream]]                                                              $8.99       8.99                1
625       1         Chicken Bowl        [Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]                                                                                                                        $8.75       8.75                1
1834      1         Chicken Salad Bowl  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]                                                                                                      $8.75       8.75                1
Length: 3335, dtype: int64

In [70]:
total_no_items_ordered_total = chipo['quantity'].sum()
print(total_no_items_ordered_total)

4972

In [69]:
total_price_items_ordered = chipo['item_price_float'].sum()
print(total_price_items_ordered)

34500.16

In [71]:
most_items_ordered = chipo['choice_description'].mode()
print(most_items_ordered)

0    [Diet Coke]
Name: choice_description, dtype: object

In [75]:
total_no_items_ordered = chipo['quantity']
print(total_no_items_ordered)

0       1
1       1
2       1
3       1
4       2
       ..
4617    1
4618    1
4619    1
4620    1
4621    1
Name: quantity, Length: 4622, dtype: int64

In [76]:
total_revenue = chipo['item_price_float'].sum()
print(total_revenue)

34500.16

In [79]:
total_orders = chipo['order_id']
print(total_orders)

0          1
1          1
2          1
3          1
4          2
        ...
4617    1833
4618    1833
4619    1834
4620    1834
4621    1834
Name: order_id, Length: 4622, dtype: int64

In [80]:
average_amt = chipo['item_price_float'].mean()
print(average_amt)

7.464335785374297

In [82]:
chipo.describe(include='all')

,order_id,quantity,item_name,choice_description,item_price,item_price_float
count,4622.000000,4622.000000,4622,3376,4622,4622.000000
unique,NaN,NaN,50,1043,78,NaN
top,NaN,NaN,Chicken Bowl,[Diet Coke],$8.75,NaN
freq,NaN,NaN,726,134,730,NaN
mean,927.254868,1.075725,NaN,NaN,NaN,7.464336
std,528.890796,0.410186,NaN,NaN,NaN,4.245557
min,1.000000,1.000000,NaN,NaN,NaN,1.090000
25%,477.250000,1.000000,NaN,NaN,NaN,3.390000
50%,926.000000,1.000000,NaN,NaN,NaN,8.750000
75%,1393.000000,1.000000,NaN,NaN,NaN,9.250000
max,1834.000000,15.000000,NaN,NaN,NaN,44.250000

In [84]:
different_items_sold = chipo['item_name'].nunique()
print(different_items_sold)

50

In [87]:
order_amt = chipo.groupby('order_id')['item_price_float'].sum()

In [88]:
average_amt = order_amt.mean()
print(average_amt)

18.811428571428568

In [89]:
total_orders = chipo['order_id'].nunique()
print(total_orders)

1834